.list-pixel:before {
    content: ">";
    display: block;
    font-family: Monaco,Menlo,Consolas,"Courier New",monospace;
    color: #aaa;
    font-size: 28px;
    position: absolute;
    margin: -7px 0 0 -20px;
}

.list-pixel, .footer-credits li {
    padding-left: 20px;
}

body {
    padding-top: 40px;
    background: #333;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    -moz-font-feature-settings: "liga";
    text-rendering: optimizelegibility;
}

h1, h2, h3, h4 {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

#content {
    background: #fff;
    min-height: 800px;
}

.nav a {
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    font-family: 'Trebuchet MS', sans-serif;
    letter-spacing: 1px;
}

.navbar-inverse {
    background: #9955BB; /* Deep lilac */
    border-bottom: solid 1px #471859;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    background: none;
    color: #9955BB;
}

.navbar-inverse .navbar-nav > li > a {
    color: #fff;
}

.navbar-inverse .navbar-nav > li > a:hover {
    color: #fff;
}

.section {
    background-color: #EEEEEE;
    padding: 30px 0;
}

#footer {
    background: #323232;
    border-top: 5px solid #9955BB;
    padding-bottom: 0;
    line-height: 2.14286;
}

.navbar-brand {
    background: transparent url(/img/logo.png) no-repeat center center;
    height: 50px;
    width: 150px;
    background-size: 100%;
}

.container {
    max-width: 970px;
}

#footer #footer-top {
    border-bottom: 1px solid #282828;
}

.contributors li {
    margin: 0;
    padding: 0;
}

.contributors img {
    opacity: 0.5;
    height: 64px;
    width: 64px;
}

.contributors img:hover {
    transition: opacity 0.4s;
    opacity: 1;
}

#documentation {
    padding: 50px 0;
}

#documentation img {
    max-width: 100%;
}

.documentation-post {
    background: #fff;
    box-shadow: 2px 4px 1px #ccc;
    font-size: 15px;
}

div.documentation-sidebar > ul > li > p {
    margin-bottom: 5px;
}

div.documentation-sidebar > ul > li {
    margin-bottom: 20px;
}

.gray {
    background: #eee !important;
}

#footer-top {
    color: #666;
    font-weight: 300;
}

#footer-top div h2:first-child {
    margin-top: 0;
    font-weight: 300;
    text-transform: uppercase;
}

#footer-top a {
    color: #aaa;
}

pre {
    background: none repeat scroll 0 0 #FAF8FF;
    border-bottom: 1px solid #CACFC8;
    border-top: 1px solid #CACFC8;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    color: #333333;
    display: block;
    font-size: 16px;
    line-height: 1.42857;
    margin: 0 0 10px;
    padding: 9px;
    word-break: break-all;
    word-wrap: break-word;
}

code {
    word-break: break-all;
    word-wrap: break-word;
}

/** Highlight JS */

pre code {

}

pre .comment * {
    color: #800;
}
